<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Config here. -->
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>controller.web.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControl</servlet-name>
        <servlet-class>controller.web.DetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserControl</servlet-name>
        <servlet-class>controller.web.UserControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailControl</servlet-name>
        <url-pattern>/detail-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserControl</servlet-name>
        <url-pattern>/management-user</url-pattern>
    </servlet-mapping>
    <session-config>
    <session-timeout>10000</session-timeout>
    </session-config>
</web-app>
